$background_main_color: #1a1825;
$background_secondary_color: #1F2034;
$background_hover_color: #24222F;
$primary_accent_color: #bd99ff;
$color_white_font: #fff;
$color_lilac_font: #625F8D;
$color_gray_font: #63616E;
$color_border: #514D65;
$color_lilac_font_btn: #5F38A2;

$border-radius: 10px;
$primary-color: #007bff;

$bg-color: var(--bg-color);
$text-color: var(--text-color);
// $primary-color: var(--primary-color);

$primary-color: #007bff;
$font-stack: Arial, sans-serif;
// $border-radius: 4px;
$gray-300: #d1d5db;
$gray-700: #374151;
$hovered-gray: #f0f0f0;